@charset "UTF-8";
@import url(font-awesome.min.css);

@font-face {
  font-family: 'BebasNeue';
  src: URL('../fonts/BebasNeue.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: URL('../fonts/Gotham-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham-Light';
  src: URL('../fonts/Gotham-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: URL('../fonts/GothamMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: URL('../fonts/Gotham-Thin.otf') format('opentype');
}
body {
  font-family: Gotham-Light, sans-serif;
  background: transparent;
  font-size: 11pt;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body:after {
  content: ' ';
  background-image: url(../../images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.09;
}


.menu-bar md-content{
  background-color: #000;
  color: #fff;
}


/*------------------------------ MEDIA ALL ---------------------------------*/
@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
    .content-column {
      padding: 5px;
      margin:15px;
      /*border:1px solid;*/
    }
    div.logo{
      height:80px;
      content: url('../images/topping-blanco.png');
      margin-left: 30px;

    }
    img.producto {
      height: 285px;
    }
    img.zebra {
      height: 200px;
    }
    img.img-servicio{
      height: 292px;
    }
    img.logo-partner {
       width: 150px;
    }

    .png-icon {
        margin: 5px auto auto;
        padding: 0;
        display: inline-block;
        background-repeat: no-repeat no-repeat;
        pointer-events: none;
        height:60px;
    }


    md-sidenav.sidebarleft {
      padding: 40px 10px;
      margin-left:10px;
      background: #000;
      min-height: 100%;
      color: #fff;
      width: 200px;
    }
    .partners-tabs md-tabs-canvas{
      height: 90px !important;
    }
    h4.grid-title  {
      font-size: 16px;
    }


    .logo-footer {
      width: 250px;
    }

    .column-image {
      width: 500px;
    }

    .clientes-img{
      width: 100%;
    }

    .icon-servicios{
      height: 100px;
    }
    .icon-servicios-big{
      height: 200px;
    }
    /* Logos Clientes */
    div.logos-clientes-container {
      height:250px;
      position: relative
    }

    div.logos-clientes {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-width:230px;
      max-height:230px
    }
    div.logo-arumabin{
      content: url('../images/logos/arumabin-off.png');
    }
    div.logo-arumabin:hover{
      content: url('../images/logos/arumabin.png');
    }

    div.logo-bella-pizza{
      content: url('../images/logos/bella-pizza-off.png');
    }
    div.logo-bella-pizza:hover{
      content: url('../images/logos/bella-pizza.png');
    }

    div.logo-consesa{
      content: url('../images/logos/consesa-off.png');
    }
    div.logo-consesa:hover{
      content: url('../images/logos/consesa.png');
    }

    div.logo-d-iris{
      content: url('../images/logos/d-iris-off.png');
    }
    div.logo-d-iris:hover{
      content: url('../images/logos/d-iris.png');
    }

    div.logo-daen{
      content: url('../images/logos/daen-off.png');
    }
    div.logo-daen:hover{
      content: url('../images/logos/daen.png');
    }

    div.logo-dulceria-angeles{
      content: url('../images/logos/dulceria-angeles-off.png');
    }
    div.logo-dulceria-angeles:hover{
      content: url('../images/logos/dulceria-angeles.png');
    }

    div.logo-first-lab{
      content: url('../images/logos/first-lab-off.png');
    }
    div.logo-first-lab:hover{
      content: url('../images/logos/first-lab.png');
    }

    div.logo-studio-black-jeans{
      content: url('../images/logos/studio-black-jeans-off.png');
    }
    div.logo-studio-black-jeans:hover{
      content: url('../images/logos/studio-black-jeans.png');
    }

    div.logo-yeliss{
      content: url('../images/logos/yeliss-off.png');
    }
    div.logo-yeliss:hover{
      content: url('../images/logos/yeliss.png');
    }

    div.logo-soniar-despierto{
      content: url('../images/logos/soniar-despierto-off.png');
    }
    div.logo-soniar-despierto:hover{
      content: url('../images/logos/soniar-despierto.png');
    }

    div.logo-travel{
      content: url('../images/logos/travel-off.png');
    }
    div.logo-travel:hover{
      content: url('../images/logos/travel.png');
    }
    div.logo-pub-imagen{
      content: url('../images/logos/pub-imagen-off.png');
    }
    div.logo-pub-imagen:hover{
      content: url('../images/logos/pub-imagen.png');
    }
    div.banner-container {
      position: relative;
      text-align: center;
      color: white;
      font-size: 105px;
      font-weight: bolder;
      font-family: BebasNeue, sans-serif;
    }

    .map-iframe{
      width: 600px;
      height: 450px;
    }
    .ol-container {
      margin: 0 32%;
    }

    .strip-content div {
      font-size: 30px;
    }
    h2 {
      font-size: 55px;
      line-height: 1em;
      margin: 0 0 0 0;
      text-transform: uppercase;
    }
    .strip-content {
      background-color: #E5155F;
      color: rgba(255, 255, 255, 0.75);
      background-attachment: fixed;
      font-family: BebasNeue, sans-serif;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      padding: 3em 0em;
    }

    .map-container{
      width: 600px;
      height: 400px;
      box-shadow: 16px 8px 10px 0 rgba(0,0,0,.4), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }

    .pink-subtitle {
      margin-top: 20px;
      color: #E5155F;
      font-weight: bolder;
      font-size: 38px;
      text-align: center;
    }

    .gray-subtitle {
      color:#aaa;
      font-weight: bolder;
      font-size: 45px;
      margin-top:8px;
      text-align: center;
    }
    .author{
    	border-radius: 100%;
    	max-width: 120px;
    }

    .author-text {
      margin:10px;
      min-height: 150px;
      text-align:justify;
    }

    .nosotros-content-div {
      padding: 15% 0;
    }
    .nosotros-content-big{
      font-size: 117px;
      color: #E5155F;
      font-weight: bolder;
      margin-top: -30px;
    }

    .nosotros-content-medium{
      font-size: 72px;
      color: black;
      margin-top: -15px
    }

    .nosotros-content-small{
      font-size: 55px;
      color: #aaa;
      font-weight: bolder;
    }

    /*  SERVICIOS bullets    */
    .icon-servicios-bullets{
      height:150px;
    }
    .list-wrapper {
      position:relative;
    }
    .list-item-wrapper {
      margin-top:10px;
      position:relative;
    }
    .list-bullet {
      float:left;
      margin-top:2px;
      margin-right:10px;
      margin-left: 70px;
      background:#E5155F;
      height:17px;
      width:17px;
      line-height:30px;
      border-radius:100px;
      font-weight:700;
      color:white;
      text-align:center;
    }
    .list-bullet-init {
      float:left;
      margin-top:5px;
      background:#E5155F;
      height:20px;
      width:20px;
      line-height:30px;
      border-radius:100px;
      font-weight:700;
      color:white;
      text-align:center;
      border: 1px solid;
    }

    .list-item {
      display:table-row;
      vertical-align:middle;
    }
    .list-title {
        font-weight:700;
    }
    .list-title-first {
      font-weight:700;
      width:58px;
      height: 15px;
      border-bottom: 2px solid;
      margin-right: 14px;
      color: #E5155F
    }
    .list-text {
        font-weight:400;
    }
    .pink-line {
      background:#E5155F;
      z-index:-1;
      width:2px;
      height:100%;
      position:absolute;
      left:78px;
      margin-top: 25px;
    }

    .white-line {
      background:#FFF;
      z-index:-1;
      top:2px;
      width:2px;
      height:160%;
      position:absolute;
      left:78px;
      margin-bottom: 15px
    }

    .servicios-name-label{
      text-align:center;
      width: 200px;
      font-size:15px;
      font-weight: bold;
      color: #E5155F;
    }

    .strip-content p{
      text-align: center;
      margin: 0 30px;
      font-size: 30px;
    }

    .custom-counter li {
        counter-increment: step-counter;
        margin: 0 10px;
        font-size: 30px;
    }
    .custom-counter li::before {
        content: counter(step-counter);
        margin-right: 8px;
        font-size: 45px;
        color: white;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 3px;
    }

    .paragraph-margin {
      margin: 25px 0;
    }
}

/*------------------------------ MEDIA MEDIUM ---------------------------------*/
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 12pt;
    }

}
/*
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14pt;
    }
    .content-column {
      padding: 10px;
      margin:5px;
      border:1px solid;
    }

}*/

/*------------------------------ MEDIA SMALL ---------------------------------*/
@media (max-width: 599px) {
    body{
        font-size: 14px;
    }
    .content-column {
      /*margin-left:5px;*/
      margin:5px;
      /*border:1px solid;*/
    }
    div.logo{
      height:80px;
      content: url('../images/topping-blanco.png');
      /*padding: 10px;*/
      margin-left:10px;
    }

    img.producto {
      height: 100px;
    }
    img.zebra {
      height: 150px;
    }
    img.img-servicio{
      height: 240px;
    }
    img.logo-partner {
       width: 120px;
    }
    .png-icon {
        margin: 5px auto auto;
        padding: 0;
        display: inline-block;
        background-repeat: no-repeat no-repeat;
        pointer-events: none;
        height:30px;
    }
    md-sidenav.sidebarleft {
      padding: 20px 5px;
      margin-left:10px;
      background: #000;
      min-height: 100%;
      color: #fff;
      width:120px;
      min-width: 20px;
    }
    .partners-tabs md-tabs-canvas{
      height: 55px !important;
    }
    h4.grid-title  {
      font-size: 14px;
    }

    .logo-footer {
      width: 150px
    }
    .column-image {
      width: 300px;
    }
    .clientes-img{
      width: 350px;
    }

    .icon-servicios{
      height: 100px;
    }
    .icon-servicios-big{
      height: 150px;
    }
    /* Logos Clientes */
    div.logos-clientes-container {
      height:180px;
      position: relative
    }

    div.logos-clientes {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-width:150px;
      max-height:150px
    }
    div.logo-arumabin{
      content: url('../images/logos/arumabin.png');
    }
    div.logo-bella-pizza{
      content: url('../images/logos/bella-pizza.png');
    }
    div.logo-consesa{
      content: url('../images/logos/consesa.png');
    }
    div.logo-d-iris{
      content: url('../images/logos/d-iris.png');
    }
    div.logo-daen{
      content: url('../images/logos/daen.png');
    }
    div.logo-dulceria-angeles{
      content: url('../images/logos/dulceria-angeles.png');
    }
    div.logo-first-lab{
      content: url('../images/logos/first-lab.png');
    }
    div.logo-studio-black-jeans{
      content: url('../images/logos/studio-black-jeans.png');
    }
    div.logo-yeliss{
      content: url('../images/logos/yeliss.png');
    }
    div.logo-soniar-despierto{
      content: url('../images/logos/soniar-despierto.png');
    }
    div.logo-travel{
      content: url('../images/logos/travel.png');
    }
    div.logo-pub-imagen{
      content: url('../images/logos/pub-imagen.png');
    }
    div.banner-container {
      position: relative;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: bolder;
      font-family: BebasNeue, sans-serif;
    }
    .map-iframe{
      width: 300px;
      height: 400px;
    }

    .ol-container {
      margin: 0 0;
    }

    .strip-content div {
      font-size: 20px;
    }
    .card-element  {
      max-width: 320px
    }
    h2 {
      font-size: 35px;
      margin: 0 0 0 0;
      text-transform: uppercase;
      line-height: 1em;
    }

    .strip-content div {
      font-size: 20px;
    }
    .strip-content {
      background-color: #E5155F;
      color: rgba(255, 255, 255, 0.75);
      background-attachment: fixed;
      font-family: BebasNeue, sans-serif;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      padding: 1em 0em;
    }

    .map-container{
      width: 300px;
      height: 400px;
      box-shadow: 16px 8px 10px 0 rgba(0,0,0,.4), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }

    .pink-subtitle {
      margin-top: 10px;
      color: #E5155F;
      font-weight: bolder;
      font-size: 20px;
      text-align: center;
    }

    .gray-subtitle {
      color:#aaa;
      margin: 9px;
      font-weight: bolder;
      font-size: 21px;
      text-align: center;
    }
    .author{
    	border-radius: 100%;
    	max-width: 100px;
    }
    .author-text {
      margin:10px;
      height: 190px;
    }

    .nosotros-content-div {
      padding: 15% 0;
    }
    .nosotros-content-big{
      font-size: 53px;
      color: #E5155F;
      font-weight: bolder;
      /*margin-top:21px;*/
    }

    .nosotros-content-medium{
      font-size:33px;
      color: black;
      font-weight: bolder;
      margin-top:23px 0;
    }

    .nosotros-content-small{
      font-size: 25px;
      color: #aaa;
      font-weight: bolder;
      margin:0px 0;
    }

    /*  SERVICIOS bullets    */
    .icon-servicios-bullets{
      height: 100px;
    }
    .list-wrapper {
      position:relative;
    }
    .list-item-wrapper {
      margin-top:10px;
      position:relative;
    }
    .list-bullet {
      float:left;
      margin-top:2px;
      margin-right:10px;
      margin-left: 35px;
      background:#E5155F;
      height:12px;
      width:12px;
      line-height:30px;
      border-radius:100px;
      font-weight:700;
      color:white;
      text-align:center;
    }
    .list-bullet-init {
      float:left;
      margin-top:5px;
      background:#E5155F;
      height:15px;
      width:15px;
      line-height:30px;
      border-radius:100px;
      font-weight:700;
      color:white;
      text-align:center;
      border: 1px solid;
    }

    .list-item {
      display:table-row;
      vertical-align:middle;
    }
    .list-title {
        font-weight:700;
    }
    .list-title-first {
      font-weight:700;
      width:23px;
      height: 15px;
      border-bottom: 1px solid;
      margin-right: 14px;
      color: #E5155F
    }
    .list-text {
        font-weight:200;
    }
    .pink-line {
      background:#E5155F;
      z-index:-1;
      width:1px;
      height:100%; /*151px */
      position:absolute;
      left:40px;
      margin-top: 25px;
    }

    .white-line {
      background:#FFF;
      z-index:-1;
      top:2px;
      width:1px;
      height:180%;
      position:absolute;
      left:40px;
      margin-bottom: 5px
    }

    .servicios-name-label{
      text-align:center;
      font-size:12px;
      font-weight: bold;
      color: #E5155F;
    }

    .strip-content p{
      text-align: center;
      margin: 0 30px;
      font-size: 23px;
    }

    .custom-counter li {
        counter-increment: step-counter;
        margin: 0 10px;
        font-size: 23px;
    }
    .custom-counter li::before {
        content: counter(step-counter);
        margin-right: 5px;
        font-size: 35px;
        color: white;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 3px;
    }

    .paragraph-margin {
      margin: 15px 0;
    }
}

.profile-name {
  font-family: BebasNeue, sans-serif;
  font-size: 24px;
}
.profile-position {
  font-family: Gotham-Medium, sans-serif;
}
.profile-description {
  margin: 10px;
  font-family: Gotham-Light, sans-serif;
}

.servicios-group {
  float: left;
}
ul.listServicios {
  width: 350px;
  list-style: circle;
}

.pink-content {
  color: #E5155F;
  font-weight: bolder;
}
md-card md-card-content.servicio-card  {
  min-height: 170px
}

md-card md-card-content.perfil-card  {
  min-height: 200px
}
.white-font {
  color: #fff;
}

.white-font h4{
  color: #fff;
  margin: 20px;
}

.tp-fb:before {
    content: url('../images/iconos/fb-icon.png');
    margin: 5px
}
.tp-instagram:before {
    content: url('../images/iconos/instagram-icon.png');
    margin: 5px
}
.tp-twitter:before {
    content: url('../images/iconos/twitter-icon.png');
    margin: 5px
}
.tp-linkedin:before {
    content: url('../images/iconos/linkedin-icon.png');
    margin: 5px
}
.tp-tiktok:before {
    content: url('../images/iconos/tiktok-icon.png');
    margin: 5px
}
div.banner-text {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}


md-sidenav.md-default-theme, md-sidenav, md-sidenav.md-default-theme md-content, md-sidenav md-content {
  background-color: #000;
}



md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #fff;
}


md-nav-bar .md-button.md-accent {
    color: #E5155F;
}

md-nav-bar md-nav-ink-bar{
  background-color: #E5155F;
}

md-nav-bar {
    /* border-width: 0 0 1px; */
    text-align: center;
    height: 48px;
    width: 48px;
    position: relative;
}

md-nav-bar .md-nav-bar {
      color: #E5155F;
      margin-top: 20px;
      border: 0px;
      font-size: 28pt;
      float: right;
}

md-card{
  box-shadow: 16px 8px 10px 0 rgba(0,0,0,.4),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 2px 1px -1px rgba(0,0,0,.12)
}

.md-tab {
  font-family: BebasNeue, sans-serif;
  font-size: 35px;
}

md-tabs .md-tab.md-active {
  color: #000;
}
.leftnavbar-selected {
  color: #E5155F !important;
}

.sidemenu.md-button{
  font-size: 28px;
}
.blue-background {
  background: #cbdcdf;
  color: #fff;
}

.grey-background {
  background: #f4f4f6;
}

div.background-nosotros{
  background-image: url('../images/home-img-08@2x.png');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.blue-background h4, .blue-background h2, .blue-background h4{
  color: #fff;
}

.content-column h3, .content-column h2, .content-column h4 {
  text-align: center;
}

.content-column-footer-rights {
  padding-top: 25px;
  border:1px solid;
  height: 80px;
  margin:10px;
}


.img-container{
  padding: 15px;
}

.footer ul {
  background: #000;
  color: #666f77;
}
.black-background{
  background: #000;
}
.footer-div{
  padding: 5px;
}


/* - -------------------------------*/

/* ICONS */
a.icon {
    color: #ffffff;
    font-size: 0.65em;
    height: 4em;
    line-height: 4em;
    width: 4em;
    cursor: pointer;
}
.icon.rounded {
    background-color: #383b43;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 1.25em;
    line-height: 1.25em;
    text-align: center;
    width: 1.25em;
}

.icon.rounded.fa-twitter {
		background-color: #2daae4;
}

.icon.rounded.fa-facebook {
		background-color: #39599f;
}

.icon.rounded.fa-youtube {
		background-color: #FF0000;
}

.icon.rounded.fa-pinterest {
	 background-color: #C92228;
}


.subcontent-title{
  text-align: center;
  padding: 10px;
  margin:10px;
        /*border: 1px solid;*/
  }

.subcontent-title-blue h2{
    color: #ffffff !important;
    margin: 0;
    font-weight: bolder;
}

.subcontent-title-white h2{
    color: #666f77 !important;
    margin: 0;
    font-weight: bolder;
}

.ul-footer{
  list-style-type: none;
}

.ul-footer li{
  color: #555f66 !important;
  background: #192024;
}
 .ul-side {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000;
      color:#fff;
}
 .ul-side li a {
    display: block;
    color:#fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.centered {
  text-align: center;
}
.justified {
  text-align: justify;
  text-justify: inter-word;
  word-spacing:-1px;
  }
.left-align {
  text-align: left;
}
.right-align{
  text-align: right;
}

.selected-button {
  color: #111161;
  font-weight: bolder;
}
ul.footer-list{
  text-align: left;
  list-style-type: none;
  width: 250px;
}

ul.footer-list a {
  text-decoration: none;
}
ul.footer-list a:hover {
  text-decoration: underline;
}

.bebas-content{
  font-family: BebasNeue, sans-serif;
}
.gotham-medium-content {
  font-family: Gotham-Light,sans-serif;
  font-weight: bolder;
}
.gotham-big-content {
  font-family: Gotham-Bold,sans-serif;
}
.gothan-thin-content {
  font-family: Gotham-Thin, sans-serif;
  font-weight: bold;
}
.asesoria-content {
  margin-top: 40px;
  font-size: 40px;
}


.button-margin {
  margin-top: 15px;
}


/* CTA */



.strip-content h2 {
  color: white !important;
  text-align: center;
}


.strip-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(229,21,95, 0.15)), url(../../images/backgrounds/background_nosotros.png);
}
.strip-metodo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(229,21,95, 0.15)), url(../../images/backgrounds/laptop-2838921_960_720.jpg);
}
.strip-somos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(229,21,95, 0.15)), url(../../images/backgrounds/background_somos.png);
}
.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}



#cta3 {
  background-color: #E5155F;
  color: rgba(255, 255, 255, 0.75);
  /*background-attachment: fixed;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(229,21,95, 0.15)), url(../../images/backgrounds/background_nosotros.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }

#cta2 {
  background-color: #E5155F;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(229,21,95, 0.15)), url(../../images/laptop-2838921_960_720.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }

#cta {
  background-color: #E5155F;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(229,21,95, 0.15)), url(../../images/office-1834294_960_720.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }

  @media screen and (max-width: 980px) {
    #cta {
      background-attachment: scroll; }

    }

/* Highlights */
.highlights {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 33.3333333333%; }
  .highlights > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center; }
    .highlights .content .icon {
      font-size: 5rem; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 50%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
/* Wrapper */
.wrapper {
  padding: 8rem 0 6rem 0 ;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 736px) {
    .wrapper {
      padding: 3rem 0 1rem 0 ; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 2rem 0 0.1rem 0 ; } }


/* Banner */
#banner {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url("../../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 28rem !important;
  min-height: 28rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  #banner input, #banner select, #banner textarea {
    color: #ffffff; }
  #banner a {
    color: #ce1b28; }
  #banner strong, #banner b {
    color: #ffffff; }
  #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #ffffff; }
  #banner blockquote {
    border-left-color: rgba(255, 255, 255, 0.25); }
  #banner code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
  #banner hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
  #banner input[type="submit"],
  #banner input[type="reset"],
  #banner input[type="button"],
  #banner button,
  #banner .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }
    #banner input[type="submit"]:hover,
    #banner input[type="reset"]:hover,
    #banner input[type="button"]:hover,
    #banner button:hover,
    #banner .button:hover {
      box-shadow: inset 0 0 0 1px #ce1b28;
      color: #ce1b28 !important; }
      #banner input[type="submit"]:hover:active,
      #banner input[type="reset"]:hover:active,
      #banner input[type="button"]:hover:active,
      #banner button:hover:active,
      #banner .button:hover:active {
        background-color: rgba(206, 27, 40, 0.25); }
    #banner input[type="submit"].primary,
    #banner input[type="reset"].primary,
    #banner input[type="button"].primary,
    #banner button.primary,
    #banner .button.primary {
      box-shadow: none;
      background-color: #ce1b28;
      color: #ffffff !important; }
      #banner input[type="submit"].primary:hover,
      #banner input[type="reset"].primary:hover,
      #banner input[type="button"].primary:hover,
      #banner button.primary:hover,
      #banner .button.primary:hover {
        background-color: #e2212f;
        box-shadow: none; }
        #banner input[type="submit"].primary:hover:active,
        #banner input[type="reset"].primary:hover:active,
        #banner input[type="button"].primary:hover:active,
        #banner button.primary:hover:active,
        #banner .button.primary:hover:active {
          background-color: #b71824; }
  #banner label {
    color: #ffffff; }
  #banner input[type="text"],
  #banner input[type="password"],
  #banner input[type="email"],
  #banner input[type="tel"],
  #banner input[type="search"],
  #banner input[type="url"],
  #banner select,
  #banner textarea {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
    #banner input[type="text"]:focus,
    #banner input[type="password"]:focus,
    #banner input[type="email"]:focus,
    #banner input[type="tel"]:focus,
    #banner input[type="search"]:focus,
    #banner input[type="url"]:focus,
    #banner select:focus,
    #banner textarea:focus {
      border-color: #ce1b28;
      box-shadow: 0 0 0 1px #ce1b28; }
  #banner select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E"); }
    #banner select option {
      color: rgba(255, 255, 255, 0.5);
      background-color: #111111; }
  #banner input[type="checkbox"] + label,
  #banner input[type="radio"] + label {
    color: rgba(255, 255, 255, 0.5); }
    #banner input[type="checkbox"] + label:before,
    #banner input[type="radio"] + label:before {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25); }
  #banner input[type="checkbox"]:checked + label:before,
  #banner input[type="radio"]:checked + label:before {
    background-color: #ce1b28;
    border-color: #ce1b28;
    color: #ffffff; }
  #banner input[type="checkbox"]:focus + label:before,
  #banner input[type="radio"]:focus + label:before {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }
  #banner ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
  #banner :-moz-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
  #banner ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
  #banner :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
  #banner ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25); }
  #banner table tbody tr {
    border-color: rgba(255, 255, 255, 0.25); }
    #banner table tbody tr:nth-child(2n + 1) {
      background-color: rgba(255, 255, 255, 0.075); }
  #banner table th {
    color: #ffffff; }
  #banner table thead {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
  #banner table tfoot {
    border-top-color: rgba(255, 255, 255, 0.25); }
  #banner table.alt tbody tr td {
    border-color: rgba(255, 255, 255, 0.25); }
  #banner .highlights .content {
    background: #111111;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
  #banner .testimonials .content {
    background: #111111;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
    #banner .testimonials .content .credit strong {
      color: #ce1b28; }
  #banner > .inner {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 3; }
    #banner > .inner > :last-child {
      margin-top: 25rem;
    }
  #banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
  #banner p {
    font-size: 1.5rem; }
  #banner a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
    #banner a:hover {
      color: #ffffff; }
  #banner video {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto; }
  #banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
  #banner:after {
    background: linear-gradient(135deg, #E5155F 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    webkit-linear-gradientidth: 100%;
    width: 100%;
    z-index: 1; }
  #banner.small {
    height: 30vh !important;
    min-height: 30vh; }
  @media screen and (max-width: 1280px) {
    #banner video {
      display: none; } }
  @media screen and (max-width: 736px) {
    #banner {
      height: auto !important;
      min-height: 0;
      /*padding: 4rem 2rem 4rem 2rem; */
    }
      #banner .inner {
        width: 100%; }
      #banner h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0; }
      #banner p {
        font-size: 1.25rem; }
      #banner br {
        display: none; }
      #banner .button {
        width: 100%; } }
  @media screen and (max-width: 480px) {
    #banner p {
      font-size: 1rem; } }
  body.is-preload #banner .inner {
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    opacity: 0; }
  body.is-preload #banner:before {
    opacity: 1; }

    /* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* Icons */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0; }
  ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0; }
    ul.icons li:last-child {
      padding-right: 0; }
    ul.icons li .icon:before {
      font-size: 2rem; }

      /* Footer */
    #footer {
      background-color: #111111;
      color: rgba(255, 255, 255, 0.5);
      padding: 8rem 0 6rem 0 ; }
      #footer input, #footer select, #footer textarea {
        color: #ffffff; }
      #footer a {
        color: #E5155F; }
      #footer strong, #footer b {
        color: #ffffff; }
      #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
        color: #ffffff; }
      #footer blockquote {
        border-left-color: rgba(255, 255, 255, 0.25); }
      #footer code {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25); }
      #footer hr {
        border-bottom-color: rgba(255, 255, 255, 0.25); }
      #footer input[type="submit"],
      #footer input[type="reset"],
      #footer input[type="button"],
      #footer button,
      #footer .button {
        background-color: transparent;
        box-shadow: inset 0 0 0 1px #ffffff;
        color: #ffffff !important; }
        #footer input[type="submit"]:hover,
        #footer input[type="reset"]:hover,
        #footer input[type="button"]:hover,
        #footer button:hover,
        #footer .button:hover {
          box-shadow: inset 0 0 0 1px #ce1b28;
          color: #ce1b28 !important; }
          #footer input[type="submit"]:hover:active,
          #footer input[type="reset"]:hover:active,
          #footer input[type="button"]:hover:active,
          #footer button:hover:active,
          #footer .button:hover:active {
            background-color: rgba(206, 27, 40, 0.25); }
        #footer input[type="submit"].primary,
        #footer input[type="reset"].primary,
        #footer input[type="button"].primary,
        #footer button.primary,
        #footer .button.primary {
          box-shadow: none;
          background-color: #ce1b28;
          color: #ffffff !important; }
          #footer input[type="submit"].primary:hover,
          #footer input[type="reset"].primary:hover,
          #footer input[type="button"].primary:hover,
          #footer button.primary:hover,
          #footer .button.primary:hover {
            background-color: #e2212f;
            box-shadow: none; }
            #footer input[type="submit"].primary:hover:active,
            #footer input[type="reset"].primary:hover:active,
            #footer input[type="button"].primary:hover:active,
            #footer button.primary:hover:active,
            #footer .button.primary:hover:active {
              background-color: #b71824; }
      #footer label {
        color: #ffffff; }
      #footer input[type="text"],
      #footer input[type="password"],
      #footer input[type="email"],
      #footer input[type="tel"],
      #footer input[type="search"],
      #footer input[type="url"],
      #footer select,
      #footer textarea {
        background-color: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25); }
        #footer input[type="text"]:focus,
        #footer input[type="password"]:focus,
        #footer input[type="email"]:focus,
        #footer input[type="tel"]:focus,
        #footer input[type="search"]:focus,
        #footer input[type="url"]:focus,
        #footer select:focus,
        #footer textarea:focus {
          border-color: #ce1b28;
          box-shadow: 0 0 0 1px #ce1b28; }
      #footer select {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E"); }
        #footer select option {
          color: rgba(255, 255, 255, 0.5);
          background-color: #111111; }
      #footer input[type="checkbox"] + label,
      #footer input[type="radio"] + label {
        color: rgba(255, 255, 255, 0.5); }
        #footer input[type="checkbox"] + label:before,
        #footer input[type="radio"] + label:before {
          background: rgba(255, 255, 255, 0.075);
          border-color: rgba(255, 255, 255, 0.25); }
      #footer input[type="checkbox"]:checked + label:before,
      #footer input[type="radio"]:checked + label:before {
        background-color: #ce1b28;
        border-color: #ce1b28;
        color: #ffffff; }
      #footer input[type="checkbox"]:focus + label:before,
      #footer input[type="radio"]:focus + label:before {
        border-color: #ce1b28;
        box-shadow: 0 0 0 1px #ce1b28; }
      #footer ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4) !important; }
      #footer :-moz-placeholder {
        color: rgba(255, 255, 255, 0.4) !important; }
      #footer ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.4) !important; }
      #footer :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4) !important; }
      #footer ul.alt li {
        border-top-color: rgba(255, 255, 255, 0.25); }
      #footer table tbody tr {
        border-color: rgba(255, 255, 255, 0.25); }
        #footer table tbody tr:nth-child(2n + 1) {
          background-color: rgba(255, 255, 255, 0.075); }
      #footer table th {
        color: #ffffff; }
      #footer table thead {
        border-bottom-color: rgba(255, 255, 255, 0.25); }
      #footer table tfoot {
        border-top-color: rgba(255, 255, 255, 0.25); }
      #footer table.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25); }
      #footer .highlights .content {
        background: #111111;
        box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
      #footer .testimonials .content {
        background: #111111;
        box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
        #footer .testimonials .content .credit strong {
          color: #ce1b28; }
      #footer a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none; }
        #footer a:hover {
          color: #ce1b28; }
      #footer .content {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex; }
        #footer .content section {
          width: 25%; }
          #footer .content section:first-child {
            width: 50%;
            padding-right: 4rem; }
          #footer .content section:last-child {
            padding-left: 4rem; }
      #footer .copyright {
        border-top: 1px solid;
        font-size: 0.8rem;
        opacity: 0.5;
        padding: 2rem 0;
        text-align: center; }
      @media screen and (max-width: 1280px) {
        #footer {
          padding: 4rem 0 2rem 0 ; } }
      @media screen and (max-width: 980px) {
        #footer .content {
          -moz-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          #footer .content section {
            width: 50%; }
            #footer .content section:first-child {
              width: 100%;
              padding-right: 0; } }
      @media screen and (max-width: 736px) {
        #footer {
          padding: 3rem 0 1rem 0 ; }
          #footer .content section {
            width: 100%; }
            #footer .content section:last-child {
              padding-left: 0; } }
      @media screen and (max-width: 480px) {
        #footer {
          padding: 2rem 0 0.1rem 0 ; } }

          ul {
            list-style: disc;
            margin: 0 0 2rem 0;
            padding-left: 1rem; }
            ul li {
              padding-left: 0.325rem; }
            ul.plain {
              list-style: none;
              padding-left: 0; }
              ul.plain li {
                margin-bottom: 0.5rem; }
                ul.plain li .icon {
                  border-radius: 4px;
                  color: #E5155F;
                  display: inline-block;
                  margin-right: 1rem;
                  text-align: center;
                  width: 2rem;
                  height: 2rem;
                  line-height: 2rem;
                  background: rgba(0, 0, 0, 0.5); }
            ul.alt {
              list-style: none;
              padding-left: 0; }
              ul.alt li {
                border-top: solid 1px;
                padding: 0.75rem 0; }
                ul.alt li:first-child {
                  border-top: 0;
                  padding-top: 0; }
                ul.alt li:last-child {
                  padding-bottom: 0; }

          dl {
            margin: 0 0 2rem 0; }
            dl dt {
              display: block;
              font-weight: 600;
              margin: 0 0 1rem 0; }
            dl dd {
              margin-left: 1.5rem; }

          ul.alt li {
            border-top-color: rgba(0, 0, 0, 0.25); }

            /* Testimonials */
.testimonials {
  margin: 2.5rem 0;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .testimonials > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .testimonials > * {
    width: 33.3333333333%; }
  .testimonials > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .testimonials > :nth-child(-n + 3) {
    padding-top: 0; }
  .testimonials > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .testimonials > :nth-child(3n + 1) {
    padding-left: 0; }
  .testimonials > :nth-child(3n) {
    padding-right: 0; }
  .testimonials > :nth-child(3n + 1),
  .testimonials > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .testimonials .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem; }
    .testimonials .content .author {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .testimonials .content .author blockquote {
        margin: 0; }
      .testimonials .content .author .image {
        margin-right: 2rem;
        width: 20%; }
        .testimonials .content .author .image img {
          border-radius: 100%;
          max-width: 100%; }
    .testimonials .content .credit {
      font-size: 0.75rem; }
    .testimonials .content p:last-child {
      margin: 0; }
  .testimonials > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .testimonials > * {
      width: 50%; }
    .testimonials > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .testimonials > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .testimonials > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .testimonials > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .testimonials > :nth-child(3n) {
      padding-right: 1rem; }
    .testimonials > :nth-child(3n + 1),
    .testimonials > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .testimonials > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .testimonials > :nth-child(-n + 2) {
      padding-top: 0; }
    .testimonials > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .testimonials > :nth-child(2n + 1) {
      padding-left: 0; }
    .testimonials > :nth-child(2n) {
      padding-right: 0; }
    .testimonials > :nth-child(2n + 1),
    .testimonials > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .testimonials .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .testimonials > * {
      width: 100%; }
    .testimonials > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .testimonials > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .testimonials > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .testimonials > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .testimonials > :nth-child(3n) {
      padding-right: 1rem; }
    .testimonials > :nth-child(3n + 1),
    .testimonials > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .testimonials > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .testimonials > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .testimonials > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .testimonials > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .testimonials > :nth-child(2n) {
      padding-right: 1rem; }
    .testimonials > :nth-child(2n + 1),
    .testimonials > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .testimonials > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .testimonials > :nth-child(-n + 1) {
      padding-top: 0; }
    .testimonials > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .testimonials > :nth-child(1n + 1) {
      padding-left: 0; }
    .testimonials > :nth-child(1n) {
      padding-right: 0; }
    .testimonials > :nth-child(1n + 1),
    .testimonials > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.testimonials .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
  .testimonials .content .credit strong {
    color: #ce1b28; }
