<div flex layout="column" class="content-column">
  <banner-comp></banner-comp>


<div flex layout="column" class="content-column blue-background" layout-md="column" layout-xs="column">
  <h2>Contáctanos</h2>
  <div layout="column" layout-align="center center">
    <div flex>
      <form action="#">
          <div flex layout="row" layout-md="column" layout-xs="column" layout-margin layout-fill>
               <div flex="70" >
                  <input name="name" id="name" value="" placeholder="Nombre" type="text">
                </div>
                <div flex="70" >
                  <input name="email" id="email" value="" placeholder="Email" type="email">
                </div>
          </div>
          <div flex layout="column" layout-fill layout-margin>
               <textarea name="message" id="message" placeholder="Mensaje" rows="6"></textarea>
          </div>
          <div layout="row" layout-align="center center" layout-padding layout-margin>
            <ul class="actions">
              <li><input value="Enviar" class="button big" type="submit"></li>
              </ul>
          </div>
        </form>
      </div>
    </div>
</div>
</div>
