<div flex layout="column">
  <div class="banner-container">
    <img src="images/banners/banner-contacto.png" width="100%">
    <div class="banner-text">ARMEMOS UN PLAN</div>
  </div>


<div flex layout="column"  layout-md="column" layout-xs="column" class="bebas-content">
  <div flex layout="row" layout-md="column" layout-xs="column">
    <div flex layout="column" layout-align="center center" class="content-column" ng-repeat="column in $ctrl.contacto.columns">
      <h3>{{column.title}}</h3>
      <element-content data="column"></element-content>
    </div>
    <div  flex layout="row" layout-align="center center" class="content-column">
      <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1885.8281363655003!2d-98.20912213869207!3d19.034862202730007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc0c67816c08b%3A0xca1953589f48f92!2sCalle+5+Sur+2901%2C+Insurgentes+Centro%2C+Puebla%2C+Pue.!5e0!3m2!1ses-419!2smx!4v1557974547226!5m2!1ses-419!2smx"
        class="map-iframe" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


  <div flex layout="column" class="content-column bebas-content">
    <h3>Escribe tus datos y cuéntanos tu idea. Te daremos respuesta en menos de 24 horas.</h3>
      <div flex layout="row" layout-md="column" layout-align="center center" layout-xs="column">
        <div layout="row" flex="45" flex-xs="45" flex-md="50">
          <input flex name="name" id="name" value="" placeholder="Nombre" type="text">
        </div>
      </div>
      <div flex layout="row" layout-md="column" layout-align="center center" layout-xs="column">
        <div layout="row" flex="45" flex-xs="45" flex-md="50">
          <input flex name="email" id="email" value="" placeholder="Correo Electrónico" type="text">
        </div>
      </div>
      <div flex layout="row" layout-md="column" layout-align="center center" layout-xs="column">
        <div layout="row" flex="15" flex-xs="45" flex-md="50">
          <input flex name="estado" id="email" value="" placeholder="Estado" type="text">
        </div>
        <div layout="row" flex="15" flex-xs="45" flex-md="50">
          <input flex name="ciudad" id="email" value="" placeholder="Ciudad" type="text">
        </div>
        <div layout="row" flex="15" flex-xs="45" flex-md="50">
          <input flexname="telefono" id="email" value="" placeholder="Teléfono" type="text">
        </div>
      </div>
      <div flex layout="row" layout-md="column"layout-align="center center"  layout-xs="column">
        <div layout="row" flex="45" flex-xs="45" flex-md="50">
          <textarea  name="message" id="message" placeholder="¿Cuál es tu necesidad?" rows="6"></textarea>
        </div>
      </div>
      <div layout="row" layout-align="center center" layout-padding layout-margin>
        <ul class="actions">
          <li><input value="Enviar" class="button medium" type="button"></li>
          </ul>
      </div>




      <!--<form flex action="#">
          <div flex layout="row" layout-md="column" layout-xs="column">
               <div flex>
                  <input name="name" id="name" value="" placeholder="Nombre" type="text">
                </div>
                <div flex>
                  <input name="email" id="email" value="" placeholder="Correo" type="email">
                </div>
          </div>
          <div flex layout="row" layout-md="column" layout-xs="column" layout-margin layout-fill>
               <div flex="70" >
                  <input name="state" id="name" value="" placeholder="Estado" type="text">
                </div>
                <div flex="70" >
                  <input name="email" id="email" value="" placeholder="Ciudad" type="text">
                </div>
          </div>
          <div flex layout="column" layout-fill layout-margin>
               <textarea flex name="message" id="message" placeholder="¿Cuál es tu necesidad?" rows="6"></textarea>
          </div>
          <div layout="row" layout-align="center center" layout-padding layout-margin>
            <ul class="actions">
              <li><input value="Enviar" class="button big" type="submit"></li>
              </ul>
          </div>
        </form>-->
    </div>

</div>
