<div flex layout="column">
  <banner-comp config="$ctrl.bannerConfig"></banner-comp>
  <!--<app-n-cols data="$ctrl.presentacion"></app-n-cols>-->

  <app-n-cols-rows data="$ctrl.servicios"></app-n-cols-rows>

  <section id="cta" class="wrapper">
    <div class="inner">
      <h2>¿Quiénes somos?</h2>
      <p>Nos tomamos el tiempo para disfrutar una taza de café, platicar, entender y conectar emocionalmente con cada socio y su marca, una familia de creativos que se apasiona por cosechar éxitos.</p>
    </div>
    
  </section>

  <app-n-cols data="$ctrl.testimonios"></app-n-cols>


</div>
