
<div flex layout="column" class="content-column">

  <div flex layout="row" layout-md="column" layout-xs="column">
      <div flex layout="row">
        <div flex layout="row" flex-xs="33" layout-align="end center">

          <!--<div flex layout="column" layout-align="end end">-->
            <img flex src="images/iconos/merca-estrategia-off.png" class="icon-servicios-bullets"/>
            <!--<div flex class="servicios-name-label"flex>MERCADOTECNIA Y ESTRATEGIA</div>
          </div>-->
        </div>
        <div flex layout="column" layout-align="center start" class="list-wrapper">

              <div class="pink-line"></div>

              <div class="list-item-wrapper">
                  <div class="list-bullet-init">&nbsp;</div>
                  <div class="list-item">
                      <div class="list-title-first">&nbsp;</div>
                      <div class="list-text" >&nbsp;</div>
                  </div>
                  <div class="list-bullet">&nbsp;</div>
                  <div class="list-item">
                      <div class="list-title">Estudio de Mercado</div>
                      <div class="list-text">&nbsp;</div>
                  </div>
              </div>

              <div class="list-item-wrapper">
                  <div class="list-bullet"></div>
                  <div class="list-item">
                      <div class="list-title">Análisis de Tendencias</div>
                      <div class="list-text">&nbsp;</div>
                  </div>
              </div>

              <div class="list-item-wrapper">
                  <div class="list-bullet"></div>
                  <div class="list-item">
                      <div class="list-title">Shopper Marketing</div>
                      <div class="list-text">&nbsp;</div>
                  </div>
                  <div class="white-line"></div>
              </div>
          </div>
      </div>

    <div flex layout="column">
      fff
    </div>
  </div>
  <div flex="" layout="row" layout-md="column" layout-xs="column" >
    <div flex>C</div>
    <div flex>D</div>
  </div>
</div>
