<div ng-repeat="c in $ctrl.data.content" ng-class="{'centered': $ctrl.data.centered }">
  <div ng-if="c.elementType === 'html'" ng-bind-html="c.html"></div>
  <li ng-if="c.elementType === 'icon'" class="{{c.class}}"></li>
  <p ng-if="c.elementType === 'p'" class="{{c.class}}">{{c.text}}</p>
  <img ng-if="c.elementType === 'img'" ng-src="{{c.src}}" class="{{c.class}}"/>
  <ul ng-if="c.elementType === 'ul'" class="{{c.class}}">
    <li ng-repeat="l in c.list">
      <a ng-if="l.url" class="{{l.class}}" href="{{l.url}}">{{l.label}}</a>
      <label ng-if="!l.url">{{l.label}}</label>
    </li>
  </ul>
  <ul ng-if="c.elementType === 'ul-icons'" class="{{c.class}}">
    <li ng-repeat="l in c.list"><a href="{{l.url}}" target="{{l.target}}"><i class="{{l.class}}">&nbsp;</i>{{l.label}}</a></li>
  </ul>
  <md-card ng-if="c.elementType === 'card'"  md-theme="default" md-theme-watch class="{{c.elementClass}}">
        <md-card-title ng-if="c.title!=null">
          <md-card-title-text>
            {{c.title}}
          </md-card-title-text>
        </md-card-title>
        <md-card-content class="{{c.cardContentClass}}">
          <div ng-if="c.type=='imageContent'">
            <img ng-src="images/{{c.image}}" alt="" class="{{c.class}}"/>
          </div>
          <p ng-if="c.type=='imageContent'">
            {{c.text}}
          </p>

          <blockquote ng-if="c.type=='blockquote'">
            <p>
              {{c.text}}
            </p>
          </blockquote>
          <div ng-if="c.type=='blockquote'">
							<div ng-if="c.author.image">
								<img ng-src="images/{{c.author.image}}" alt="" class="author"/>
							</div>
							<p class="credit">- <strong>{{c.author.name}}</strong> <span>{{c.author.position}}</span></p>
					</div>

          <div ng-if="c.type=='profile'">
            <div>
                <span class="profile-name">{{c.author.name}}</span>
                <div style="float: right" class="profile-description" ng-if="c.author.twitter">
                  <div>
                    <img style="width:15px" src="images/iconos/twitter-icon.png" class=""/>
                    {{c.author.twitter}}
                  </div>
                </div>
            </div>
            <p>
              <span class="profile-position">{{c.author.position}}
              </span>
            </p>
            <p class="profile-description">{{c.text}}</p>
            <div ng-if="c.author.image" style="text-align: center; position: absolute; bottom: 15px; left: 33%">
              <img ng-src="images/{{c.author.image}}" alt="" class="author"/>
            </div>
          </div>

          <div class="post-div" ng-if="c.type=='post'">
            <img ng-src="images/{{c.cover}}" alt="" class="post-cover"/>
            <div class="post-description">
              <a href="#!/blog/post/{{c.post_id}}">{{c.description}} </a>
            </div>
            <div class="post-topic"> {{c.topic}} </div>
            <!-- <a href="#!/blog/post/{{c.post_id}}"> -->
          </div>


          </md-card-content>
  </md-card>
  <div id="{{c.id}}" class="{{c.id}}" ng-if="c.elementType === 'component'"></div>
</div>
